@page "/EmployeeBiodatasummary"

@using AxisPensionsEmployeeSystem.Models
@using DataAccessLibrary;
@using Microsoft.Extensions.Configuration

@inject IDataAccess _data
@inject IConfiguration _config

<h3>Employee Biodata Summary</h3>

@if(employeeBiodataSummary == null)
{
    <div class="spinner-grow" role="status">
        
    </div>
    <span class="sr-only">Loading...</span>
}else{
<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th>EmployeeId</th>
      <th>Photo</th>
      <th>StaffNumber</th>
      <th>FirstName</th>
      <th>Surname</th>
      <th>Appointmentdate</th>
       <th>TinNumber</th>
      <th>SnnitNumber</th>
      <th>DoB</th>
       <th>Title</th>
      <th>Gender</th>
      <th>CellPhone</th>
       <th>Email</th>
       <th>CorrespondenceAddress</th>
      <th>Gender</th>
      <th>CellPhone</th>
     
    </tr>
  </thead>
  <tbody>
     @foreach(var a in employeeBiodataSummary)
     {
     <tr>
      <td>
        <div class="d-flex align-items-center">
        <div class="ms-3">
            <p class="fw-bold mb-1">@a.EmployeeId</p>
            <p class="text-muted mb-0">@a.Email</p>
          </div>
          <img
              src="@a.ImageUrl"
              alt=""
              style="width: 45px; height: 45px"
              class="rounded-circle"
              />
          <div class="ms-3">
            <p class="fw-bold mb-1">@a.StaffNumber</p>
            <p class="text-muted mb-0">@a.FirstName</p>
          </div>
        </div>
      </td>
      <td>
        <p class="fw-normal mb-1">@a.Surname</p>
        <p class="text-muted mb-0">@a.Appointmentdate</p>
      </td>
      <td>
        <span class="badge badge-success rounded-pill d-inline">@a.TinNumber</span>
      </td>
      <td>@a.SnnitNumber</td>
            <td>@a.Title</td>

             <td>@a.Gender</td>

             <td>@a.CellPhone</td>

              <td>@a.Email</td>
      <td>@a.CorrespondenceAddress</td>
      <td>@a.Gender</td>
      <td>Senior</td>

      <td>
        <button type="button" class="btn btn-link btn-sm btn-rounded">
          Edit
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>
}
@code {
   List<EmployeeBiodata> employeeBiodataSummary;

    //Load the intial Data
    protected override async Task OnInitializedAsync()
    {
        string sql = "SELECT *FROM employee_biodata";
         employeeBiodataSummary = await _data.LoadData<EmployeeBiodata, dynamic>(sql, new {},
        _config.GetConnectionString("DbConnection"));
    }
}
  